<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>714364168431-qd2nhkf4jhrvct4bhn09lb1pbo8qta50.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.714364168431-qd2nhkf4jhrvct4bhn09lb1pbo8qta50</string>
	<key>API_KEY</key>
	<string>AIzaSyBHw7HtWPkJ-CcRRrZqM8v4jJebzVoKFHM</string>
	<key>GCM_SENDER_ID</key>
	<string>714364168431</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kawai.roomscan</string>
	<key>PROJECT_ID</key>
	<string>roomplan-6b447</string>
	<key>STORAGE_BUCKET</key>
	<string>roomplan-6b447.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:714364168431:ios:933472880ca34b48a3931a</string>
</dict>
</plist>